<!DOCTYPE html>
<html lang="{{ lang|split('_')[0] }}" class="{{ hook_filter('base_class', [])|join(' ') }}" {{ hook_filter('html_attributes', [])|join(' ')|raw }}>
    <head>
        <meta charset="{{ charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{ hook_action('head') }}
        {% block style %}{% endblock %}
    </head>
    <body class="{{ hook_filter('body_class')|join(' ') }}">
        {{ hook_action('body') }}
        {% block header %}
            {% include (theme is defined ? theme ~ '/' : '') ~ 'header.html.twig'|apply_filter('get_template_header') ignore missing %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% include (theme is defined ? theme ~ '/' : '') ~ 'footer.html.twig'|apply_filter('get_template_footer') ignore missing %}
        {% endblock %}
        {{ hook_action('footer') }}
    </body>
    {% block script %}{% endblock %}
</html>
